<div class="tile is-4 is-parent">
            <article class="tile is-child notification is-danger">
            <p class="title">Employee Name: {{employeeName}}</p>
            <p class="subtitle">Employee ID: {{employeeId}}</p>
            <p>Employee Email: {{employeeEmail}}</p>
            <p>Employee Role: {{employeeRole}}</p>
            {{#if internSchool}}
            <p>Intern School: {{internSchool}}</p>
            {{/if}}
            {{#if github}}
            <p>Engineer Github: {{github}}</p>
            {{/if}}
            {{#if officeNumber}}
            <p>Manager Office: {{officeNumber}}</p>
            {{/if}}
          </div>